{% extends 'ALTaxonomyBundle::layout.html.twig' %}

{% block taxonomy_title %}<h1>Vocabulary <em>{{ entity.labelName }}</em></h1>{% endblock %}

{% block taxonomy_content -%}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Vocabulary Label</th>
                <td>{{ entity.labelName }}</td>
            </tr>
            <tr>
                <th>Machine Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Terms</th>
                <td>{{ terms|join(', ') }}</td>
            </tr>
        </tbody>
    </table>

    {{ parent() }}

{% endblock %}

{% block taxonomy_actions -%}
        <li><a href="{{ path('al_taxonomy_edit_vocabulary', { 'id': entity.id }) }}" class="btn btn-primary">Edit</a></li>
        <li>{{ form(delete_form) }}</li>
        <li><a href="{{ path('al_taxonomy_list_vocabularies') }}" class="btn btn-default">View Vocabularies</a></li>
{% endblock %}
