{% extends 'ALTaxonomyBundle::layout.html.twig' %}

{% block taxonomy_title %}<h1>Vocabulary <em>{{ vocabulary.labelName }}</em> terms</h1>{% endblock %}

{% block taxonomy_content -%}
    {% if entities|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Machine name</th>
                <th>Label name</th>
                <th>Weight</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('al_taxonomy_show_term', { 'id': entity.id, 'vocabulary_id': vocabulary.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.labelName }}</td>
                    <td>{{ entity.weight }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('al_taxonomy_show_term', { 'id': entity.id, 'vocabulary_id': vocabulary.id }) }}" class="btn btn-default">View</a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('al_taxonomy_edit_term', { 'id': entity.id, 'vocabulary_id': vocabulary.id }) }}">Edit</a>
                                </li>
                            </ul>
                        </div>
                        <ul>

                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No terms defined for vocabulary {{ vocabulary.labelName }}. Add one by clicking the button below.</p>
    {% endif %}

    {{ parent() }}

{% endblock %}

{% block taxonomy_actions %}
    <li>
        <a href="{{ path('al_taxonomy_new_term', {'vocabulary_id': vocabulary.id }) }}" class="btn btn-primary">
            Add Term
        </a>
    </li>
    <li><a href="{{ path('al_taxonomy_list_vocabularies') }}" class="btn btn-default">View Vocabularies</a></li>
{% endblock %}